.notFound {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2em 0;

  &:after {
    content: 'Page Not Found';
    position: absolute;
    top: 18%;
    left: 15%;
    color: var(--white);
    border: 3px solid var(--white);
    font-size: 1em;
    font-weight: bold;
    padding: 1em 2em;
  }

  @media (max-width: 768px) {
    &:after {
      top: 25%;
      left: 15%;
      font-size: 0.5em;
      padding: 0.5em 1em;
      border: 1px solid var(--white);;
    }
  }
  @media (max-width: 425px) {
    &:after {
      top: 20%;
      left: 15%;
    }
  }
}
